{% block content %}
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <!-- Main Functions -->
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'employers_home' %}">Openhire Employers</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <a class="nav-link active" aria-current="page" href="#">Publicar una Oferta</a>
            <a class="nav-link" href="#">Encontrar Candidatos</a>
            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
          {% else %}
            <a class="nav-link active" aria-current="page" href="#">Encontrar Ofertas de Empleo</a>
          {% endif %}
        </div>
      </div>
      <!-- Login/Profile Button -->
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary me-md-2" type="button" href="{% url 'employers_profile' request.user.id %}"><strong>Mi Perfil</strong></a>
          </div>
        {% else %}
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary me-md-2" type="button" href="{% url 'login' %}"><strong>Inicia Sesión</strong></a>
          </div>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}
